html {
  background-image: url('../public/background.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.header, .footer {
  display: block;
  background-color: #36B0CB;
  height: 80px;
  border-radius: 10px;
  width: 100%;
}
.header {
  position:fixed;
  top:0px;
  z-index: 5;
}
.footer {
  position:fixed;
  bottom:0px;
  z-index: 5;
}

.footer_list {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items:center;
}
.footer_list_item a {
  color: white;
}
.footer_list_item img {
  width:50px;
}

.slider {
  margin-top: 100px;
  position: relative;
}
.slider_items_img {
  display: none;
}
.slider_items_img-active {
  display: block;
  width: 1000px;
  margin: 20px auto 50px auto;
}
.array-left {
  position: absolute;
  left: 0;
  top: 120px;
}
.array-right {
  position: absolute;
  right: 0;
  top: 120px;
}
.shop {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
}
.shop_filter {
  width: 370px;
  border: #36B0CB 2px solid;
  height: auto;
  margin-right: 30px;
  border-radius: 10px;
}
.shop_items {
  width: 700px;
  border: #36B0CB 2px solid;
  height: 500px;
  border-radius: 10px;
}
.shop_filter_title {
  font-size: 30px;
  color:#36B0CB;
  text-align: center;
  margin-bottom: 10px;
}
.p_filter {
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-filter {
  display: block;
  margin: 30px auto 30px auto;
  background-color: #36B0CB;
  color: white;
  text-align: center;
  border: #36B0CB;
  height: 20px;
}
.cost-filter {
  margin-left: 20px;
}
.form {
  display: flex;
  flex-direction: column;
}
